*{
    margin: 0;
    padding: 0;
}
.bg-container{
    background-image: url("/img/bg-container.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 8vh 42vh;
    grid-template-columns: 1fr;
}
.nav-row{
    grid-row: 1/2;
}
.logo-top{
    color : yellow ;    
}
.nav-font-col{
    color:white
}
.nav-font-col:hover{
    color: gray;
    background-color: yellow;
}
.logo-top:hover{
    color: orangered;
}
.exam-quote{
    margin: auto;
    height:max-content;
    color:white;
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    font-size: 70px;
    grid-row: 2/3;
}
@media (max-width:750px){
    .exam-quote{
        font-size: 35px;
    }
    .nav-font-col{
        background-color: rgb(18, 6, 179);
    }
}
.upcoming-features{
    margin-top: 5vh;
    display: grid;
    grid-template: repeat(4,25svh)/repeat(1,1fr);
}
.line-banner{
    padding: 0 10vw;
}
.logo-left{
    float: left;
    height: 25vh;
    width: 14vw;
}
.para-right{
    text-align: center;
    margin-top: 5vh;
    margin-left: 15vw ;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}
.logo-right{
    float: right;
    height: 25vh;
    width: 14vw;
}
.para-left{
    /* color: blue; */
    text-align: center;
    margin-top: 5vh;
    margin-right: 15vw ;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

@media (max-width:500px) {
    .para-left,.para-right{
        font-size: 15px;
    }
    .logo-left,.logo-right{
        width: 30vw;
    }
}
.foot{
    text-align: center;
    color: white;
    height: 6vh;
    font-family: 'Pattaya', sans-serif;
    background-image: url('/img/bg-container.jpg');
}